/*
Template Type: SMASASS Boiler Plate
Description: Serves for all common app typography
Author URI:https://github.com/sundeep-kumar/smasass
Version: 1.0
*/

/*Example: App typography can be load and define here...
$nav-font:"Arial Black", Gadget, sans-serif
$content-font:Arial, Helvetica, sans-serif;
$heading-font:"Bookman Old Style", serif

*/

.app-typography:before{content:"app-typography: loaded..."}