/*
Template Type: SMASASS Boiler Plate
Description: Serves for layout individual module classes
Author URI:https://github.com/sundeep-kumar/smasass
Version: 1.0
*/

/*Example: Module class nav js based interactions can be defined here:
changing state of .l-nav button with jquery can be-

In js file    
$('#l-nav-btn').click(function(){
    $(#l-nav-content).toggleClass('is-active');
})

And the respective lines can be defined here...
#l-nav-content.is-active {
    color:#333;
}
*/

.nav-js:before{content:"nav-js: loaded..."}